
/******* GENERAL STYLES ********/
h1 {
    font-family: 'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

h2 {
    font-family: 'Open Sans';
    font-size: 1em;
}

h3 {
    font-family: 'Open Sans';
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/********** PAGE CONTAINER ************/

.pageContainer {
    display: grid;
    grid-gap: 15px;
    justify-self: stretch;
    margin: auto;
}

/********** TOP SECTION ***********/

.top {
    display: grid;
    background: lightgray;
    justify-content: center;
    justify-self: stretch;
}

.toplayoutContainer {
    max-width: 900px;
    display: grid;
    grid-template-areas: 
        "topItem1 topItem2"
        "topItem1 topItem3";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
}

.topItem1 {
    grid-area: topItem1;
    display: grid;
}

.imageContainer {
    display: grid;
    grid-row: 1/3;
    grid-column: 1;
}

.imageContainer>img {
    object-fit: cover;
}

.topItem2 {
    display: grid;
    grid-area: topItem2;
}

.topItem3 {
    display: grid;
    grid-area: topItem3;
}

/********** MAIN SECTION *************/

.main {
    display: grid;
    justify-content: center;
}

.mainlayoutContainer {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, content-fit));
    grid-gap: 10px;
    grid-template-areas: 
        "subArticle1 subArticle2 aside"
        "subArticle3 subArticle4 aside"
        "bigFolder bigFolder aside"
        ". . aside";
}


/******** MAIN SUBARTICLES *********/
.subArticle1 {
    display: grid;
    grid-area: subArticle1;
}

.subArticle2 {
    display: grid;
    grid-area: subArticle2;
}

.subArticle3 {
    display: grid;
    grid-area: subArticle3;
}

.subArticle4 {
    display: grid;
    grid-area: subArticle4;
}


.titleContainer {
    display: grid;
    grid-row: 2/3;
    grid-column: 1;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: whitesmoke;
    padding: 0 10px;
}

/************* ASIDE *************/

.aside {
    display: grid;
    grid-area: aside;
    background: lightgray;
    grid-template-areas: 
        "segmentTitle"
        "articles"
        "button"
}

.segmentTitle {
    display: grid;
    grid-area: segmentTitle;
    grid-template-columns: 1fr auto;
    background: rgb(78, 15, 107);
    height: 50px;
    text-transform: uppercase;
    color: white;
}

.knowMore {
    display: grid;
    padding-left: 10px;
}

.knowMoreIcon {
    align-items: stretch;
    justify-items: stretch;
    height: 50px;
    filter: invert(100);
    margin: auto;
    padding: 3px;
}

.asideArticles {
    grid-area: articles;
    padding: 5px;
    display: grid;
    grid-gap: 8px;
    grid-template-areas: 
        "article1"
        "article2"
        "article3";
}

.article1 {
    display: grid;
    grid-area: article1;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "image"
        "title"
        "postingTime";
    background: white;
}

.article2 {
    display: grid;
    grid-area: article2;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "image"
        "title"
        "postingTime";
    background: white;
}

.article3 {
    display: grid;
    grid-area: article3;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "image"
        "title"
        "postingTime";
    background: white;
}

.articleTitle {
    display: grid;
    grid-area: title;
    line-height: 12px;
    padding: 0 8px;
}

.articleImage {
    display: grid;
    grid-area: image;
}

.articleImage>img {
    object-fit: cover;
}

.articleDate {
    display: grid;
    grid-area: postingTime;
    line-height: 8px;
    padding: 0 8px;
}

.moreButton {
    grid-area: button;
    margin: auto;
    width: 100%;
}

.moreButton>button {
    display: grid;
    width: 100%;
    height: 3em;
    background: -webkit-linear-gradient( rgba(78, 15, 107, 0), rgb(78, 15, 107));
    border: none;
    justify-content: center;
    margin: auto;
    color: white;
    font-family: 'Open Sans';
    font-size: 0.8em;
}

/************* FOLDERS *************/

.bigFolder {
    grid-area: bigFolder;
    display: grid;
    grid-template-areas: 
        "title title"
        "event1 event2";
    grid-template-rows: auto auto;
    align-content: start;
    background: rgb(58, 58, 58);
}

/* .folders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgb(58, 58, 58);
} */

.event1 {
    grid-area: event1;
    display: grid;
    margin: 5px;
}

.event2 {
    grid-area: event2;
    margin: 5px;
}
.bigFolder > .segmentTitle {
    grid-area: title;
    text-align: center;
}

/**************** Header *****************/

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-template-areas: "logo menu";
    background: #2a2a2a;
    color: whitesmoke;
    padding: 0 15px;
    text-transform: uppercase;
}

.menu {
    display: grid;
    /* grid-auto-columns: 1fr 1fr 1fr 1fr; */
    grid-auto-flow: column;
    grid-gap: 10px;
    list-style: none;
}

/******* TABLET LAYOUT *******/

@media only screen and (max-width:760px) {
    .toplayoutContainer {
        grid-template-areas:
        "topItem1 topItem1"
        "topItem1 topItem1"
        "topItem2 topItem3";
        grid-template-columns: auto auto;
    
    }
    .mainlayoutContainer {
        grid-template-areas: 
        "subArticle1 subArticle2"
        "subArticle3 subArticle4"
        "bigFolder bigFolder"
        "aside aside"
    }
}