h1 {
    font-family: 'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

h2 {
    font-family: 'Open Sans';
    font-size: 1em;
}

h3 {
    font-family: 'Open Sans';
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pageContainer {
    display: grid;
    grid-gap: 15px;
    justify-self: stretch;
    margin: auto;
}

.top {
    display: grid;
    background: lightgray;
    justify-content: center;
    justify-self: stretch;
}

.toplayoutContainer {
    width: 900px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
}

.topItem1 {
    display: grid;
    /*align-items: stretch;*/
    grid-row: 1/3;
    grid-column: 1;
    grid-template-rows: max-content;
    margin: 0 0 0 0;
}

.imageContainer {
    display: grid;
    grid-row: 1/3;
    grid-column: 1;
}

.imageContainer>img {
    object-fit: cover;
}

.topItem2 {
    display: grid;
    align-items: stretch;
    grid-row: 1/2;
    grid-column: 2;
}

.topItem3 {
    display: grid;
    align-items: stretch;
    grid-row: 2;
    grid-column: 2;
}

.main {
    display: grid;
    justify-content: center;
}

.mainlayoutContainer {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 10px;
}

.subArticle {
    display: grid;
    align-items: stretch;
}


.titleContainer {
    display: grid;
    grid-row: 2/3;
    grid-column: 1;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    color: whitesmoke;
    padding: 0 10px;
    align-items: end;
}

/*ASIDE*/

.aside {
    display: grid;
    grid-row: 1/4;
    grid-column: 3/4;
    background: lightgray;
}

.segmentTitle {
    display: grid;
    grid-template-columns: 6fr 1fr;
    background: rgb(78, 15, 107);
    height: 50px;
    text-transform: uppercase;
    color: white;
}

.knowMore {
    display: grid;
    padding-left: 10px;
}

.knowMoreIcon {
    align-items: stretch;
    justify-items: stretch;
    height: 50px;
    filter: invert(100);
    margin: auto;
    padding: 3px;
}

.asideArticles {
    padding: 5px;
}

.article {
    display: grid;
    grid-template-rows: 1fr auto auto;
    background: white;
    margin: 8px 0;
}

.articleTitle {
    display: grid;
    line-height: 12px;
    padding: 0 8px;
}

.articleImage {
    display: grid;
    grid-row: 1;
}

.articleImage>img {
    object-fit: cover;
}

.articleDate {
    display: grid;
    grid-row: 3;
    line-height: 8px;
    padding: 0 8px;
}

.moreButton {
    margin: auto;
    width: 100%;
}

.moreButton>button {
    display: grid;
    width: 100%;
    height: 3em;
    background: -webkit-linear-gradient( rgba(78, 15, 107, 0), rgb(78, 15, 107));
    border: none;
    justify-content: center;
    margin: auto;
    color: white;
    font-family: 'Open Sans';
    font-size: 0.8em;
}

/*FOLDERS*/

.bigFolder {
    grid-column: 1/3;
    grid-row: 3/4;
}

.folders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgb(58, 58, 58);
}

.canada {
    margin: 5px;
}

.canada > img {
    object-fit: cover;
}

.france {
    margin: 5px;
}
.bigFolder > .segmentTitle {
    text-align: center;
}